Repository JuliaRobotics/IncrementalInference.jl, pull requests merged in 2019-04, with the labels that each got.

#247 minor fix (Reshape -> reshape)
  examples/RobotFourDoor.jl
Labels: bug, example

#246 fixes #245
  examples/BayesTreeIllustration.jl
  src/JunctionTree.jl
Labels: bayes junction tree, example

#250 new examples
  Manifest.toml
  examples/MultiHypo2Door.jl
  examples/MultiHypo3Door.jl
Labels: example, inference, multihypothesis

#253 Feature/comparevarfact
  src/FGOSUtils.jl
  src/IncrementalInference.jl
  test/runtests.jl
  test/testCompareVariablesFactors.jl
Labels: enhancement, testing

#254 fix compare tests
  src/FGOSUtils.jl
  test/testCompareVariablesFactors.jl
Labels: testing

#257 Maintenance/fixsubgraph
  src/FGOSUtils.jl
  src/FactorGraph01.jl
  src/IncrementalInference.jl
  src/SubGraphFunctions.jl
  test/testCompareVariablesFactors.jl
Labels: API, enhancement, maintenance

#259 Prep/v055second
  Manifest.toml
  src/FactorGraph01.jl
  src/IncrementalInference.jl
Labels: API, enhancement, versioning

#260 fixes #251
  src/SolveTree01.jl
  test/testMultiHypo2Door.jl
Labels: enhancement

#262 updating tomls
  Manifest.toml
  Project.toml
Labels: toml, versioning

#264 Update Project.toml
  Project.toml
Labels: bug, toml

#266 Fix some dependencies.
  Manifest.toml
  Project.toml
Labels: versioning

#267 update manifest
  Manifest.toml
Labels: toml, versioning
