Repository JuliaRobotics/IncrementalInference.jl, pull requests merged in 2019-12, with the labels that each got.

#460 general bug fixes
  src/FGOSUtils.jl
  src/FactorGraph01.jl
  src/JunctionTree.jl
  test/testMultiHypo2Door.jl
Labels: maintenance, testing

#442 parametric structures
  .gitignore
  Project.toml
  src/ApproxConv.jl
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/FGOSUtils.jl
  src/FactorGraph01.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/ParametricCliqStateMachine.jl
  src/ParametricSolveTree.jl
  src/SolverAPI.jl
  src/SubGraphFunctions.jl
  src/TetherUtils.jl
  src/TreeBasedInitialization.jl
  test/basicGraphsOperations.jl
  test/testMultiHypo2Door.jl
Labels: design, inference, parametric solve

#470 minor fixes and improvements
  src/FGOSUtils.jl
  src/IncrementalInference.jl
Labels: enhancement, maintenance

#471 add functions setVariableReference! and joinLogPath
  src/FGOSUtils.jl
  src/FactorGraph01.jl
  src/IncrementalInference.jl
Labels: API, enhancement, user experience

#475 reverse var order, cond -> sepr
  src/Deprecated.jl
  src/FactorGraph01.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/SolveTree01.jl
Labels: bayes junction tree, bug fix, enhancement, inference, refactoring, variable ordering

#479 fix csm for when parent marginalized
  src/CliqStateMachine.jl
Labels: bayes junction tree, bug fix, clique state machine, fixed lag, inference

#480 save variable order,
  Project.toml
  src/IncrementalInference.jl
  src/JunctionTree.jl
Labels: bayes junction tree, debug tools, variable ordering

#482 missing notification in parent recycling and pass variable order
  src/CliqStateMachine.jl
  src/JunctionTree.jl
  src/SolverAPI.jl
  src/TreeBasedInitialization.jl
Labels: bayes junction tree, bug fix, clique state machine, inference, variable ordering

#483 add test to ensure approxConv for basic filter
  test/runtests.jl
  test/testBasicForwardConvolve.jl
Labels: inference, testing

#484 fast forward for DFG v0.5.2 and IIF v0.8.3
  Project.toml
  src/CliqStateMachine.jl
  src/Deprecated.jl
  src/FGOSUtils.jl
  src/FactorGraph01.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/SolveTree01.jl
  src/SolverAPI.jl
  src/TetherUtils.jl
  src/TreeBasedInitialization.jl
  src/ccolamd.jl
  test/runtests.jl
  test/testBasicForwardConvolve.jl
  test/testMultiHypo2Door.jl
Labels: dfg, testing, upstream

#488 graph init not use sortDFG
  src/FactorGraph01.jl
Labels: enhancement

#487 new csm test, no prior,
  src/IncrementalInference.jl
  src/JunctionTree.jl
  test/runtests.jl
  test/testBasicCSM.jl
Labels: bug, clique state machine, degenerate case

#472 sub-graphs with only factors on frontals connected
  src/CliqStateMachine.jl
  src/Deprecated.jl
  src/SolveTree01.jl
  src/SubGraphFunctions.jl
  src/TreeBasedInitialization.jl
  test/priorusetest.jl
  test/runtests.jl
  test/testCompareVariablesFactors.jl
Labels: DO NOT MERGE, bayes junction tree, bug fix

#492 fast forward feature branch
  Project.toml
  src/CliqStateMachine.jl
  src/FactorGraph01.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/SolverAPI.jl
  src/TreeBasedInitialization.jl
  test/runtests.jl
  test/testBasicCSM.jl
  test/testBasicForwardConvolve.jl
Labels: fast-forward

#461 simple prior use test
  Project.toml
  src/AdditionalUtils.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/FGOSUtils.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/SolveTree01.jl
  src/SubGraphFunctions.jl
  test/priorusetest.jl
  test/runtests.jl
  test/testBasicGraphs.jl
  test/testCliqueFactors.jl
  test/testCompareVariablesFactors.jl
Labels: bug, inference, testing

#503 relax new tests slightly
  test/testBasicGraphs.jl
Labels: testing, travis

#504 fast forward
  test/testBasicGraphs.jl
Labels: fast-forward

#502 fast forward fix
  Project.toml
  src/AdditionalUtils.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/FGOSUtils.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/SolveTree01.jl
  src/SubGraphFunctions.jl
  test/priorusetest.jl
  test/runtests.jl
  test/testBasicGraphs.jl
  test/testCliqueFactors.jl
  test/testCompareVariablesFactors.jl
Labels: bug fix, fast-forward

#496 add variable order to tree structure
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  test/testJunctionTree2.jl
Labels: bayes junction tree, enhancement, variable ordering

#507 special manikde 1D
  src/FGOSUtils.jl
Labels: enhancement, user experience

#508 add few tree tests (API)
  src/CanonicalGraphExamples.jl
  src/FactorGraph01.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  test/runtests.jl
  test/testBasicGraphs.jl
  test/testJunctionTree2.jl
  test/testJunctionTreeConstruction.jl
Labels: bayes junction tree, enhancement, maintenance, testing, variable ordering

#509 add save load Tree,
  src/CanonicalGraphExamples.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  test/runtests.jl
  test/testTreeSaveLoad.jl
Labels: bayes junction tree, debug tools, user experience

#510 fast forward release/v0.8
  Project.toml
  src/AdditionalUtils.jl
  src/CanonicalGraphExamples.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/FGOSUtils.jl
  src/FactorGraph01.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/SolveTree01.jl
  src/SolverAPI.jl
  src/SubGraphFunctions.jl
  src/TreeBasedInitialization.jl
  src/ccolamd.jl
  test/priorusetest.jl
  test/runtests.jl
  test/testBasicCSM.jl
  test/testBasicForwardConvolve.jl
  test/testBasicGraphs.jl
  test/testCliqueFactors.jl
  test/testCompareVariablesFactors.jl
  test/testJunctionTree2.jl
  test/testJunctionTreeConstruction.jl
  test/testMultiHypo2Door.jl
  test/testTreeSaveLoad.jl
Labels: fast-forward, release

#513 dispatch build subgraph
  src/CliqStateMachineUtils.jl
Labels: bug fix, clique state machine, dfg, graph management

#511 fast forward integration testing branch for dfg upstream
  Project.toml
  src/AdditionalUtils.jl
  src/CanonicalGraphExamples.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/FGOSUtils.jl
  src/FactorGraph01.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/SolveTree01.jl
  src/SubGraphFunctions.jl
  test/priorusetest.jl
  test/runtests.jl
  test/testBasicGraphs.jl
  test/testCliqueFactors.jl
  test/testCompareVariablesFactors.jl
  test/testJunctionTree2.jl
  test/testJunctionTreeConstruction.jl
  test/testTreeSaveLoad.jl
Labels: dfg, fast-forward, testing, upstream
