Repository JuliaRobotics/IncrementalInference.jl, pull requests merged in 2019-07, with the labels that each got.

#337 default autoinit=false
  Manifest.toml
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/FGOSUtils.jl
  src/FactorGraph01.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/SolveTree01.jl
  src/SolverUtilities.jl
  src/TreeBasedInitialization.jl
  test/testCompareVariablesFactors.jl
  test/testpartialconstraint.jl
Labels: debug tools, documentation, inference

#343 restore test local constraint example for new api
  test/testlocalconstraintexamples.jl
Labels: API, bug fix, testing

#341 expand docs on csmAnimate
  src/CliqStateMachineUtils.jl
Labels: documentation

#342 starting migration fncs to DFG
  Manifest.toml
  Project.toml
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/FGOSUtils.jl
  src/FactorGraph01.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/SolveTree01.jl
  src/SolverUtilities.jl
  src/TreeBasedInitialization.jl
Labels: breaking changes, compat, maintenance, refactoring, toml, upstream

#348 add maxparallel to rmVarFromMarg
  src/FactorGraph01.jl
Labels: bug fix, enhancement

#346 use locks to avoid csm race conditions
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/JunctionTreeTypes.jl
  src/SolveTree01.jl
  src/TreeBasedInitialization.jl
Labels: clique state machine, inference

#352 improve logging during inference
  Project.toml
  src/ApproxConv.jl
  src/CliqStateMachineUtils.jl
  src/SolveTree01.jl
  src/TreeBasedInitialization.jl
Labels: enhancement

#353 Introduce inferdim::Float64, drop partialinit::Bool
  Manifest.toml
  Project.toml
  src/ApproxConv.jl
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/FactorGraph01.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/InferDimensionUtils.jl
  src/JunctionTree.jl
  src/SolveTree01.jl
  src/SolverAPI.jl
  src/SolverUtilities.jl
  src/TreeBasedInitialization.jl
Labels: API, breaking changes, inference

#351 Required for CloudGraphsDFG
  src/DataLayerAPI.jl
  src/Deprecated.jl
  src/DispatchPackedConversions.jl
  src/FGOSUtils.jl
  src/FactorGraph01.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
Labels: breaking changes, dfg, upstream

#356 Csm/3 q19/inferdim
  Manifest.toml
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/DefaultNodeTypes.jl
  src/FactorGraph01.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/InferDimensionUtils.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/SolveTree01.jl
  src/SolverAPI.jl
  src/SubGraphFunctions.jl
  src/TreeBasedInitialization.jl
  test/testCompareVariablesFactors.jl
  test/unittests/FactorGraph01_tests.jl
Labels: autoinit, clique state machine, inference

#357 parent sharing for down init
  Manifest.toml
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/FGOSUtils.jl
  src/FactorGraph01.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/InferDimensionUtils.jl
  src/JunctionTree.jl
  src/SolveTree01.jl
  src/SolverAPI.jl
  src/SolverUtilities.jl
  src/SubGraphFunctions.jl
  src/TreeBasedInitialization.jl
  test/testCommonConvWrapper.jl
Labels: autoinit, clique state machine, inference

#358 test for hasfactor in parent sharing fg
  src/TreeBasedInitialization.jl
Labels: autoinit, bug fix, clique state machine, inference
