Repository JuliaRobotics/IncrementalInference.jl, pull requests merged in 2020-06, with the labels that each got.

#721 update freshSample and N particles,
  src/ApproxConv.jl
  src/FactorGraph.jl
  src/SolverUtilities.jl
  test/testVariousNSolveSize.jl
Labels: API, maintenance

#722 add manifold and per particle nullhypo
  src/ApproxConv.jl
  src/Deprecated.jl
  src/FactorGraph.jl
Labels: bug fix, deprecated, inference, multihypothesis, null hypothesis

#724 storeOld supersolve
  src/IncrementalInference.jl
  src/SolverAPI.jl
  test/testBasicGraphs.jl
Labels: debug tools, enhancement, inference, super-solve, user experience

#725 Update .travis.yml
  .travis.yml
Labels: maintenance, travis

#726 better storeOld filter
  src/SolverAPI.jl
Labels: enhancement, super-solve

#729 general updates
  src/Deprecated.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
Labels: deprecated, maintenance

#730 small fgos update
  src/FGOSUtils.jl
Labels: PPE, maintenance, super-solve

#731 address #678
  src/Deprecated.jl
  src/JunctionTree.jl
Labels: API, maintenance

#732 compat julia 1.4
  .travis.yml
  Project.toml
Labels: compat, multithreading, toml

#737 update BTND
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/CliqueTypes.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/ParametricCliqStateMachine.jl
  src/SolveTree01.jl
Labels: enhancement, maintenance

#738 rename some parametric files
  src/CliqStateMachineUtils_Parametric.jl
  src/CliqStateMachine_Parametric.jl
  src/IncrementalInference.jl
  src/SolveTree.jl
  src/SolveTree_Parametric.jl
Labels: maintenance, refactoring

#739 maintenance prep for 459
  src/BeliefTypes.jl
  src/CliqStateMachineUtils_Parametric.jl
  src/CliqStateMachine_Parametric.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/ParametricUtils.jl
  src/SolveTree.jl
  src/SubGraphFunctions.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  test/testBasicParametric.jl
Labels: deprecated, inference, maintenance, parametric solve, refactoring, regression

#741 more refactoring and deps
  src/CliqStateMachineUtils_Parametric.jl
  src/CliqStateMachine_Parametric.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
Labels: deprecated, maintenance, refactoring

#743 wip on consolidation msg channels
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/JunctionTreeTypes.jl
  src/SolverUtilities.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
Labels: clique state machine, enhancement, refactoring

#745 CliqStatus and initUpChannels
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/CliqStateMachine_Parametric.jl
  src/JunctionTreeTypes.jl
  src/SolveTree.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
Labels: clique state machine, refactoring, regression, types

#746 BTND.initDownChannel::Channel{LikelihoodMessage}
  src/JunctionTreeTypes.jl
  src/SolveTree.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
Labels: clique state machine, refactoring, types

#747 prep to convert initupmsg to pull model
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/Deprecated.jl
  src/JunctionTreeTypes.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
Labels: maintenance, refactoring

#748 fsm name verbose
  Project.toml
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
Labels: clique state machine, compat, dependencies, enhancement

#749 verbose option on solve
  src/CliqStateMachine.jl
  src/SolveTree.jl
  src/SolveTree_Parametric.jl
  src/SolverAPI.jl
  test/unittests/FactorGraph01_tests.jl
Labels: debug tools, enhancement

#750 v0.12.1-rc1
  Project.toml
  README.md
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/CliqStateMachine_Parametric.jl
  src/CliqueTypes.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/ParametricMessageUtils.jl
  src/ParametricUtils.jl
  src/SolveTree.jl
  src/SolveTree_Parametric.jl
  src/SolverAPI.jl
  src/SolverUtilities.jl
  src/SubGraphFunctions.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  test/testBasicParametric.jl
  test/unittests/FactorGraph01_tests.jl
Labels: release

#757 Update travis - allow failures on ARM
  .travis.yml
Labels: bug fix, travis
