Repository JuliaRobotics/IncrementalInference.jl, pull requests merged in 2020-03, with the labels that each got.

#618 Fix 1D variable order regression, new test
  Project.toml
  src/CliqStateMachine.jl
  src/FactorGraph.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/SolveTree01.jl
  src/SolverAPI.jl
  test/runtests.jl
  test/testJunctionTreeConstruction.jl
  test/testMultiHypo2Door.jl
  test/testMultimodal1D.jl
Labels: dfg, inference, testing, upstream

#619 fast forward dfg integration test
  .travis.yml
  Project.toml
  README.md
  examples/ApproximateConvolution.jl
  examples/IllustrateAutoInit.jl
  examples/MultiHypo3Door.jl
  examples/SquareRootTypes.jl
  src/AdditionalUtils.jl
  src/ApproxConv.jl
  src/CanonicalGraphExamples.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/DefaultNodeTypes.jl
  src/Deprecated.jl
  src/FGOSUtils.jl
  src/FactorGraph.jl
  src/FactorGraphTypes.jl
  src/Factors/Sphere1D.jl
  src/GraphConstraintTypes.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/ParametricCliqStateMachine.jl
  src/ParametricMessageUtils.jl
  src/SolveTree01.jl
  src/SolverAPI.jl
  src/SolverUtilities.jl
  src/SubGraphFunctions.jl
  src/TetherUtils.jl
  src/TreeBasedInitialization.jl
  test/basicGraphsOperations.jl
  test/runtests.jl
  test/testBasicGraphs.jl
  test/testCliqueFactors.jl
  test/testCommonConvWrapper.jl
  test/testCompareVariablesFactors.jl
  test/testJunctionTreeConstruction.jl
  test/testMixturePrior.jl
  test/testMultiHypo2Door.jl
  test/testMultimodal1D.jl
  test/testNLsolve.jl
  test/testNumericRootGenericRandomized.jl
  test/testProductReproducable.jl
  test/testSolveOrphanedFG.jl
  test/testTreeSaveLoad.jl
  test/testmultihypothesisapi.jl
  test/testnullhypothesis.jl
  test/testpartialconstraint.jl
  test/unittests/FactorGraph01_tests.jl
Labels: dfg, testing, upstream

#629 save multihypo to file
  .travis.yml
  Project.toml
  examples/BayesTreeIllustration.jl
  src/DispatchPackedConversions.jl
  src/FactorGraph.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/SolveTree01.jl
  test/runtests.jl
  test/testBasicGraphs.jl
  test/testSaveLoadDFG.jl
  test/testmultihypothesisapi.jl
Labels: API, bug fix, dfg

#633 fast forward iif integration tests for dfg
  .travis.yml
  README.md
  examples/MultiHypo2Door.jl
  examples/MultiHypo3Door.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
  src/InferDimensionUtils.jl
  src/JunctionTree.jl
  src/ParametricSolveTree.jl
  src/SolveTree01.jl
  src/SolverUtilities.jl
  src/TreeBasedInitialization.jl
  test/testBasicCSM.jl
Labels: fast-forward

#634 maintenance, timestamp initManual api
  src/Deprecated.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
  test/testBasicParametric.jl
Labels: API, deprecated, standardization

#604 renaming to biadjacency,
  Project.toml
  src/CliqStateMachineUtils.jl
  src/FactorGraph.jl
Labels: API, compat, deprecated, enhancement, standardization, toml, upstream, variable ordering

#636 v0.10.1-rc1
  .travis.yml
  Project.toml
  README.md
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
  test/testBasicParametric.jl
Labels: release

#638 fast forward dfg testing
  Project.toml
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
  test/testBasicParametric.jl
Labels: dfg, testing, upstream

#639 use freshSamples and specialSamplers
  src/ApproxConv.jl
  src/FGOSUtils.jl
  src/FactorGraph.jl
  src/SolverUtilities.jl
  src/TetherUtils.jl
  test/TestModuleFunctions.jl
  test/runtests.jl
  test/saveconvertertypes.jl
  test/testBasicGraphs.jl
  test/testBasicParametric.jl
  test/testBayesTreeiSAM2Example.jl
  test/testCommonConvWrapper.jl
  test/testNumericRootGenericRandomized.jl
  test/testSpecialSampler.jl
  test/testgraphpackingconverters.jl
  test/testlocalconstraintexamples.jl
  test/typeReturnMemRef.jl
Labels: feature request, maintenance, refactoring, testing

#641 special sampler with full DFGVariable not VND
  src/ApproxConv.jl
  src/FactorGraph.jl
  src/SolverUtilities.jl
Labels: refactoring, sampling

#642 v0.10.2-rc1
  Project.toml
  src/ApproxConv.jl
  src/FGOSUtils.jl
  src/FactorGraph.jl
  src/SolverUtilities.jl
  src/TetherUtils.jl
  test/TestModuleFunctions.jl
  test/runtests.jl
  test/saveconvertertypes.jl
  test/testBasicGraphs.jl
  test/testBasicParametric.jl
  test/testBayesTreeiSAM2Example.jl
  test/testCommonConvWrapper.jl
  test/testNumericRootGenericRandomized.jl
  test/testSpecialSampler.jl
  test/testgraphpackingconverters.jl
  test/testlocalconstraintexamples.jl
  test/typeReturnMemRef.jl
Labels: release

#600 Add covariance calculations to parametric
  .gitignore
  Project.toml
  examples/dev/testOptimCovar.jl
  src/DefaultNodeTypes.jl
  src/IncrementalInference.jl
  src/ParametricCliqStateMachine.jl
  src/ParametricMessageUtils.jl
  src/ParametricUtils.jl
  test/testBasicParametric.jl
Labels: bayes junction tree, parametric solve

#644 remove dev print typeof
  src/SolverUtilities.jl
Labels: bug fix

#506 upstream variable update
  Project.toml
  src/AdditionalUtils.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/ParametricCliqStateMachine.jl
  src/SolveTree01.jl
  src/SubGraphFunctions.jl
Labels: compat, dfg, enhancement, standardization

#645 v0.10.3-rc1
  .gitignore
  Project.toml
  examples/dev/testOptimCovar.jl
  src/AdditionalUtils.jl
  src/DefaultNodeTypes.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/ParametricCliqStateMachine.jl
  src/ParametricMessageUtils.jl
  src/ParametricUtils.jl
  src/SolveTree01.jl
  src/SolverUtilities.jl
  src/SubGraphFunctions.jl
  test/testBasicParametric.jl
Labels: release

#647 refactor LikelihoodMessage TreeBelief
  src/BeliefTypes.jl
  src/FGOSUtils.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
  src/JunctionTreeTypes.jl
  src/ParametricCliqStateMachine.jl
  src/SolveTree01.jl
  src/SubGraphFunctions.jl
Labels: bayes junction tree, inference, maintenance, refactoring

#648 drop TempBeliefMsg
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/SolveTree01.jl
  src/SolverUtilities.jl
  src/TreeBasedInitialization.jl
Labels: refactoring, types

#649 setData!->setCliqueData! @deprecate and change
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
Labels: deprecated, maintenance, refactoring, standardization

#650 fix tests after prev merge
  src/BeliefTypes.jl
  src/IncrementalInference.jl
  src/ParametricCliqStateMachine.jl
  src/ParametricMessageUtils.jl
  src/TreeBasedInitialization.jl
  src/TreeInitUtils.jl
Labels: bug fix, clique state machine, inference, maintenance, parametric solve, refactoring, testing

#651 further consolidation of tree messages
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/FactorGraph.jl
  src/GraphConstraintTypes.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/SolveTree01.jl
  src/TreeBasedInitialization.jl
  src/TreeInitUtils.jl
  src/TreeMessageUtils.jl
  test/runtests.jl
  test/testBasicTreeInit.jl
Labels: bayes junction tree, clique state machine, maintenance, refactoring, types

#652 fast forward parametric dev
  Project.toml
  README.md
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/FactorGraph.jl
  src/GraphConstraintTypes.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/ParametricCliqStateMachine.jl
  src/ParametricMessageUtils.jl
  src/SolveTree01.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageUtils.jl
  test/runtests.jl
  test/testBasicTreeInit.jl
Labels: fast-forward, maintenance, refactoring

#653 Add cliqueLikelihood to LikelihoodMessage and remove BeliefMessage
  src/BeliefTypes.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/ParametricCliqStateMachine.jl
  src/ParametricMessageUtils.jl
  src/ParametricUtils.jl
  src/TreeMessageUtils.jl
  test/testBasicParametric.jl
Labels: clique state machine, parametric solve, refactoring, standardization

#654 refactoring tree msg types (459)
  src/BeliefTypes.jl
  src/CliqueTypes.jl
  src/IncrementalInference.jl
  src/JunctionTreeTypes.jl
Labels: bayes junction tree, clique state machine, refactoring, types

#655 fast forward
  .gitignore
  Project.toml
  README.md
  examples/dev/testOptimCovar.jl
  src/AdditionalUtils.jl
  src/ApproxConv.jl
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/CliqueTypes.jl
  src/DefaultNodeTypes.jl
  src/Deprecated.jl
  src/FGOSUtils.jl
  src/FactorGraph.jl
  src/GraphConstraintTypes.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/ParametricCliqStateMachine.jl
  src/ParametricMessageUtils.jl
  src/ParametricUtils.jl
  src/SolveTree01.jl
  src/SolverUtilities.jl
  src/SubGraphFunctions.jl
  src/TetherUtils.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageUtils.jl
  test/TestModuleFunctions.jl
  test/runtests.jl
  test/saveconvertertypes.jl
  test/testBasicGraphs.jl
  test/testBasicParametric.jl
  test/testBasicTreeInit.jl
  test/testBayesTreeiSAM2Example.jl
  test/testCommonConvWrapper.jl
  test/testNumericRootGenericRandomized.jl
  test/testSpecialSampler.jl
  test/testgraphpackingconverters.jl
  test/testlocalconstraintexamples.jl
  test/typeReturnMemRef.jl
Labels: dfg, fast-forward, testing, upstream

#657 add an export
  src/IncrementalInference.jl
Labels: enhancement

#658 several bugfixes
  examples/TreeAnalysis.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/DispatchPackedConversions.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/SolverAPI.jl
  src/SubGraphFunctions.jl
  src/TreeMessageUtils.jl
  test/runtests.jl
  test/testBasicGraphs.jl
Labels: bug fix, inference, maintenance, refactoring, testing

#660 cleanup, bugfix, exports
  src/ExplicitDiscreteMarginalizations.jl
  src/FGOSUtils.jl
  src/IncrementalInference.jl
  src/SolverUtilities.jl
Labels: API, bug fix, maintenance

#661 add bad-init resolution for multihypo (#248)
  src/ApproxConv.jl
  src/DispatchPackedConversions.jl
  src/ExplicitDiscreteMarginalizations.jl
  src/FGOSUtils.jl
  src/FactorGraph.jl
  src/FactorGraphTypes.jl
  src/SolverUtilities.jl
  test/testExplicitMultihypo.jl
  test/testmultihypothesisapi.jl
Labels: bug fix, enhancement, inference, multihypothesis, null hypothesis, testing

#662 cleanup and fixes
  src/BeliefTypes.jl
  src/Deprecated.jl
  src/DispatchPackedConversions.jl
  src/FGOSUtils.jl
  src/FactorGraphTypes.jl
  src/SolveTree01.jl
Labels: deprecated, maintenance, refactoring

#663 fix 248
  src/ApproxConv.jl
  src/ExplicitDiscreteMarginalizations.jl
  src/SolverAPI.jl
  src/TreeMessageUtils.jl
  test/testExplicitMultihypo.jl
Labels: inference, multihypothesis, null hypothesis

#664 use spreadNH param
  src/ApproxConv.jl
  src/FactorGraphTypes.jl
  test/testBasicGraphs.jl
  test/testMultimodal1D.jl
Labels: enhancement, multihypothesis, null hypothesis, parameters, standardization
