Repository JuliaRobotics/IncrementalInference.jl, pull requests merged in 2020-09, with the labels that each got.

#872 new csmAnimate with interval time
  Project.toml
  src/CliqStateMachineUtils.jl
  src/JunctionTree.jl
Labels: clique state machine, compat, debug tools, dependencies, enhancement, upstream, visualization

#873 Test dead reckoning tether based on RoME test
  src/TetherUtils.jl
  test/runtests.jl
  test/testDeadReckoningTether.jl
Labels: dead reckon tether, testing

#874 allow csmColors, maintenance
  Project.toml
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/SolveTree.jl
Labels: clique state machine, compat, debug tools, deprecation, maintenance, toml, upstream, visualization

#875 v0.15.2-rc1
  Project.toml
  src/AnalysisTools.jl
  src/ApproxConv.jl
  src/BeliefTypes.jl
  src/CanonicalGraphExamples.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/CliqStateMachine_Parametric.jl
  src/Deprecated.jl
  src/DispatchPackedConversions.jl
  src/FGOSUtils.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/SolveTree.jl
  src/SolveTree_Parametric.jl
  src/SolverAPI.jl
  src/SubGraphFunctions.jl
  src/TetherUtils.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  src/TreeMsgDwnConsolidation.jl
  test/runtests.jl
  test/testBasicCSM.jl
  test/testBasicGraphs.jl
  test/testBasicParametric.jl
  test/testBasicTreeInit.jl
  test/testDeadReckoningTether.jl
  test/testSaveLoadDFG.jl
  test/testnullhypothesis.jl
Labels: release

#877 improved csmAnimate, compat
  Project.toml
  src/CliqStateMachineUtils.jl
  src/SolveTree.jl
Labels: compat, debug tools, maintenance, upstream, visualization

#879 tree draw csm steps and xlabels
  Project.toml
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/TreeBasedInitialization.jl
Labels: clique state machine, compat, debug tools, dependencies, enhancement, maintenance, solver params, upstream, visualization

#880 WIP 4 dwn msg consolidation
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/IncrementalInference.jl
  src/JunctionTreeTypes.jl
  src/NeedsResolution.jl
  src/SolveTree.jl
  src/TreeMessageAccessors.jl
  src/TreeMsgDwnConsolidation.jl
Labels: clique state machine, maintenance, standardization

#881 set dpi for csmAnimate
  Project.toml
  src/CliqStateMachineUtils.jl
Labels: enhancement, maintenance, upstream

#883 WIP 5 restructuring CSM needdwnmsg functions
  src/CliqStateMachine.jl
  src/IncrementalInference.jl
  src/TreeBasedInitialization.jl
Labels: clique state machine, maintenance, refactoring, standardization

#885 WIP 6 refactor csm in prep dwnMsg consolidation
  src/CliqStateMachine.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageUtils.jl
Labels: clique state machine, refactoring, standardization

#886 WIP 7 simplify around redirectTraffic 4b
  src/CliqStateMachine.jl
  src/IncrementalInference.jl
Labels: clique state machine, refactoring, standardization

#888 WIP 8, #459 dwnMsg, add CSM 10a 10b
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/CliqStateMachine_Parametric.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/JunctionTreeTypes.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageUtils.jl
Labels: clique state machine, refactoring

#887 Fix RobotFourDoor example
  examples/RobotFourDoor.jl
Labels: bug fix, example

#890 v0.15.3-rc1
  Project.toml
  README.md
  examples/RobotFourDoor.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/CliqStateMachine_Parametric.jl
  src/Deprecated.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/NeedsResolution.jl
  src/SolveTree.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  src/TreeMsgDwnConsolidation.jl
Labels: release

#894 add csm dbg features, watchdog printlogical and more
  Project.toml
  src/CSMOccuranceUtils.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/IncrementalInference.jl
  src/SolveTree.jl
  src/SolverAPI.jl
Labels: clique state machine, debug tools, upstream

#896 double notify and CSMOccurance improvements
  src/CSMOccuranceUtils.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/TreeMessageAccessors.jl
Labels: bug fix, maintenance

#897 bump v0.15.4
  Project.toml
Labels: versioning

#902 Simple MixtureLinearConditional test
  test/runtests.jl
  test/testMixtureLinearConditional.jl
Labels: test all the things, testing

#903 Fix and test Sphere1D
  src/Factors/Sphere1D.jl
  test/runtests.jl
  test/testSphere1.jl
Labels: bug fix, factors, test all the things

#908 #459 dwnMsg consolidation
  Project.toml
  src/BeliefTypes.jl
  src/CSMOccuranceUtils.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/InferDimensionUtils.jl
  src/JunctionTreeTypes.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  src/TreeMsgDwnConsolidation.jl
  test/testBasicTreeInit.jl
  test/testDefaultDeconv.jl
  test/unittests/FactorGraph01_tests.jl
Labels: clique state machine, refactoring, standardization

#909 deprecate CSM locks
  src/Deprecated.jl
  src/JunctionTreeTypes.jl
  src/TreeMessageAccessors.jl
Labels: clique state machine, deprecation, enhancement, maintenance, standardization

#901 Monitor CSM tasks and send InterruptException + tests
  src/CliqStateMachine.jl
  src/SolveTree.jl
  src/SolveTree_Parametric.jl
  src/SolverAPI.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  test/runtests.jl
  test/testCSMMonitor.jl
Labels: clique state machine, debug tools, testing, user experience

#911 general code cleanup
  src/CanonicalGraphExamples.jl
  src/CliqStateMachine.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/JunctionTreeTypes.jl
  src/TreeMsgDwnConsolidation.jl
Labels: maintenance

#912 upgrade mixture prior, needed downstream
  Project.toml
  src/ApproxConv.jl
  src/BeliefTypes.jl
  src/DeconvUtils.jl
  src/DefaultNodeTypes.jl
  src/Deprecated.jl
  src/Factors/DefaultPrior.jl
  src/Factors/LinearRelative.jl
  src/Factors/MixturePrior.jl
  src/Factors/MixtureRelative.jl
  src/IncrementalInference.jl
  src/NumericalCalculations.jl
  src/SolverUtilities.jl
  src/Variables/DefaultVariables.jl
  test/testCompareVariablesFactors.jl
  test/testMixtureLinearConditional.jl
  test/testMixturePrior.jl
  test/testgraphpackingconverters.jl
Labels: enhancement, factors, needed downstream, refactoring

#905 Update Examples
  examples/ApproximateConvolution.jl
  examples/BayesTreeIllustration.jl
  examples/IllustrateAutoInit.jl
  examples/TreeAnalysis.jl
Labels: example, maintenance, wait for other PR

#906 update MultiHypo2Door
  examples/MultiHypo2Door.jl
  src/SolveTree.jl
Labels: example, maintenance

#914 likelihood msgs do hasPriors
  src/BeliefTypes.jl
  src/SolveTree.jl
  src/SolverAPI.jl
  src/TreeMessageUtils.jl
  test/runtests.jl
  test/testBasicGraphs.jl
  test/testHasPriors913.jl
Labels: clique state machine, inference, needs testing, testing

#915 remove csmc.forceproceed
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/CliqStateMachine_Parametric.jl
  src/JunctionTreeTypes.jl
Labels: clique state machine, deprecation, maintenance, types

#916 maintenance cleanup before #913
  src/IncrementalInference.jl
  src/SolveTree.jl
  src/SolverUtilities.jl
  src/TreeDebugTools.jl
  src/TreeMsgDwnConsolidation.jl
Labels: maintenance, refactoring, standardization

#918 latest example updates
  examples/MultiHypo2Door.jl
Labels: deprecation, example, maintenance

#919 changes from #918
  src/TreeDebugTools.jl
Labels: refactoring

#920 std api resetBuildTree!, fix #752
  examples/BayesTreeIllustration.jl
  examples/MultiHypo2Door.jl
  examples/MultiHypo3Door.jl
  examples/RobotFourDoor.jl
  examples/TexTreeIllustration.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/SolverAPI.jl
  test/testBasicCSM.jl
  test/testBasicParametric.jl
  test/testBayesTreeChordalProp.jl
  test/testCSMMonitor.jl
  test/testCliqueFactors.jl
  test/testCommonConvWrapper.jl
  test/testCompareVariablesFactors.jl
  test/testJunctionTreeConstruction.jl
  test/testSolveSetPPE.jl
  test/testTexTreeIllustration.jl
  test/testTreeSaveLoad.jl
  test/testlocalconstraintexamples.jl
  test/unittests/FactorGraph01_tests.jl
Labels: API, bayes junction tree, standardization

#921 code maintenance toward #913
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/JunctionTreeTypes.jl
  src/SolveTree.jl
  src/SolverAPI.jl
Labels: deprecation, maintenance, refactoring, standardization

#922 better code structure, GraphProductOperations.jl
  src/CSMCommon_Consolidate.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/FGOSUtils.jl
  src/GraphProductOperations.jl
  src/IncrementalInference.jl
  src/SolveTree.jl
  src/SolverAPI.jl
  src/TreeDebugTools.jl
  src/TreeMessageUtils.jl
Labels: maintenance, refactoring, standardization

#923 using right factors for upsolve, #913
  src/ApproxConv.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/GraphProductOperations.jl
  src/IncrementalInference.jl
  src/JunctionTreeTypes.jl
  src/SolveTree.jl
  src/TreeDebugTools.jl
Labels: deprecation, inference, refactoring, types

#907 update MultiHypo3Door
  examples/MultiHypo3Door.jl
  src/FactorGraph.jl
Labels: example, maintenance

#926 Fix addLikelihoodsDifferential!
  src/TreeMessageUtils.jl
  test/testDefaultDeconv.jl
Labels: bug fix

#928 Automatically store and retrieve history in task storage on dbg or rec
  src/SolverAPI.jl
Labels: debug tools

#930 Update parametric with smtasks kwarg and bugfix
  src/SolveTree_Parametric.jl
  src/SolverAPI.jl
Labels: bug fix, maintenance

#929 maint and Common CSM, fix MixtureRelative
  examples/BayesTreeIllustration.jl
  examples/IllustrateAutoInit.jl
  src/CSMCommon_Consolidate.jl
  src/CliqStateMachine.jl
  src/CliqueTypes.jl
  src/CompareUtils.jl
  src/Deprecated.jl
  src/Factors/MixtureRelative.jl
  test/testMixtureLinearConditional.jl
  test/testSphere1.jl
Labels: clique state machine, factors, refactoring, serialization, standardization, testing
