Repository JuliaRobotics/IncrementalInference.jl, pull requests merged in 2020-12, with the labels that each got.

#1027 Towards removing Graphs.jl for tree
  src/AdditionalUtils.jl
  src/AnalysisTools.jl
  src/CliqStateMachineUtils.jl
  src/CliqueStateMachine.jl
  src/CliqueTypes.jl
  src/CompareUtils.jl
  src/InferDimensionUtils.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/ParametricCSMFunctions.jl
  src/SolverAPI.jl
  src/TreeBasedInitialization.jl
  src/TreeDebugTools.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  test/testCSMMonitor.jl
Labels: bayes junction tree, maintenance, refactoring

#1028 Rename softtype -> variableType, getSofttype -> getVariableType
  src/AnalysisTools.jl
  src/BeliefTypes.jl
  src/Deprecated.jl
  src/DispatchPackedConversions.jl
  src/FGOSUtils.jl
  src/FactorGraph.jl
  src/GraphProductOperations.jl
  src/InferDimensionUtils.jl
  src/ParametricCSMFunctions.jl
  src/ParametricUtils.jl
  src/SolveTree.jl
  src/TreeDebugTools.jl
  src/TreeMessageUtils.jl
  test/testgraphpackingconverters.jl
Labels: variableType

#1030 Update FactorGraphTypes.jl
  src/FactorGraphTypes.jl
Labels: bayes junction tree, bug fix, inference, maintenance, regression, upstream

#1033 Set MetaBayesTree as default tree
  src/CliqueTypes.jl
  src/Deprecated.jl
  src/JunctionTreeTypes.jl
  src/TreeDebugTools.jl
Labels: bayes junction tree, deprecation, maintenance

#1032 setMarginalized! function
  src/FGOSUtils.jl
Labels: API, enhancement

#1034 add `deleteClique!` function
  src/CliqueStateMachine.jl
  src/JunctionTree.jl
  src/SolverAPI.jl
  test/runtests.jl
  test/testTreeFunctions.jl
Labels: bayes junction tree, bug fix, enhancement

#1036 Limit treeinit iters with `limittreeinit_iters` and @error cleanly exit
  src/CliqueStateMachine.jl
  src/FactorGraphTypes.jl
  src/JunctionTreeTypes.jl
  test/testBasicTreeInit.jl
Labels: autoinit, bayes junction tree, clique state machine, tree init

#1039 Rename ODERelative to DERelative
  src/IncrementalInference.jl
  src/ODE/DERelative.jl
  test/runtests.jl
  test/testDERelative.jl
Labels: API, maintenance, standardization, upstream

#1040 cleanup before release
  README.md
  src/AdditionalUtils.jl
  src/Deprecated.jl
  src/JunctionTree.jl
  test/testdata/compatibility_test_fg.jld2
  test/testdata/compatibility_test_fg_OLD.jld2
  test/unittests/FactorGraph01_tests.jl
Labels: deprecation, maintenance, versioning

#1037 fix warn of name collision Dates.Second
  test/TestModuleFunctions.jl
Labels: bug fix, maintenance, testing

#1038 rm Graphs.jl dependency from IIF
  Project.toml
  src/AnalysisTools.jl
  src/CliqStateMachineUtils.jl
  src/CliqueStateMachine.jl
  src/CliqueTypes.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/ParametricCSMFunctions.jl
  src/SolverAPI.jl
  src/TreeDebugTools.jl
  src/TreeMessageAccessors.jl
Labels: bayes junction tree, compat, dependencies, deprecation, maintenance, standardization, upstream

#1047 Allow dispatch on cliq id vs graph index by using CliqueId
  src/CliqueStateMachine.jl
  src/CliqueTypes.jl
  src/CompareUtils.jl
  src/Deprecated.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/TreeMessageAccessors.jl
  test/testSphere1.jl
  test/testTreeFunctions.jl
Labels: bayes junction tree, clique state machine, maintenance, skip minor cycle, standardization, types

#1052 add factor EuclidDistance
  src/Factors/EuclidDistance.jl
  src/Factors/LinearRelative.jl
  src/IncrementalInference.jl
  src/NumericalCalculations.jl
  src/Variables/DefaultVariables.jl
  test/runtests.jl
  test/testEuclidDistance.jl
Labels: enhancement, factors, maintenance, standardization, testing, types

#1026 WIP to towards better correlation of differential samples
  src/ApproxConv.jl
  src/CliqueStateMachine.jl
  src/DeconvUtils.jl
  src/Deprecated.jl
  src/FactorGraph.jl
  src/FactorGraphTypes.jl
  src/GraphProductOperations.jl
  src/IncrementalInference.jl
  src/SolveTree.jl
  test/priorusetest.jl
  test/testHasPriors913.jl
  test/testpartialconstraint.jl
Labels: WORK OUTSTANDING, deprecation, enhancement, inference

#1056 CliqueId{Int64}.value on csm debug, and test
  src/TreeDebugTools.jl
  test/testCSMMonitor.jl
Labels: bug fix, clique state machine, debug tools, maintenance, testing, types

#1057 add repeatCSMStep
  src/Deprecated.jl
  src/SolverAPI.jl
  src/TreeDebugTools.jl
  test/testBasicRecycling.jl
  test/testCSMMonitor.jl
Labels: clique state machine, debug tools

#1058 add csmc.enableLogging, docs, and depr
  src/CliqStateMachineUtils.jl
  src/CliqueStateMachine.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/JunctionTreeTypes.jl
  src/SolverAPI.jl
  src/TreeDebugTools.jl
  test/testCSMMonitor.jl
Labels: API, bug fix, clique state machine, debug tools, deprecation, documentation, skip minor cycle, types

#1060 add seq to printHistoryLine, and maint
  src/TreeDebugTools.jl
Labels: clique state machine, debug tools, enhancement, maintenance

#1062 v0.18.1-rc1
  Project.toml
  README.md
  src/ApproxConv.jl
  src/CliqStateMachineUtils.jl
  src/CliqueStateMachine.jl
  src/CliqueTypes.jl
  src/CompareUtils.jl
  src/DeconvUtils.jl
  src/Deprecated.jl
  src/FactorGraph.jl
  src/FactorGraphTypes.jl
  src/Factors/EuclidDistance.jl
  src/Factors/LinearRelative.jl
  src/GraphProductOperations.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/NumericalCalculations.jl
  src/SolveTree.jl
  src/SolverAPI.jl
  src/TreeDebugTools.jl
  src/TreeMessageAccessors.jl
  src/Variables/DefaultVariables.jl
  test/priorusetest.jl
  test/runtests.jl
  test/testBasicRecycling.jl
  test/testCSMMonitor.jl
  test/testEuclidDistance.jl
  test/testHasPriors913.jl
  test/testSphere1.jl
  test/testTreeFunctions.jl
  test/testpartialconstraint.jl
Labels: release

#1061 update tree API and IIF.isInitialized(::TreeClique)
  Project.toml
  examples/TreeAnalysis.jl
  src/AnalysisTools.jl
  src/Deprecated.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  test/testAnalysisTools.jl
  test/testBayesTreeiSAM2Example.jl
  test/testCliqueFactors.jl
  test/testJointEnforcement.jl
  test/testJunctionTreeConstruction.jl
  test/testMultimodal1D.jl
Labels: API, bayes junction tree, deprecation, maintenance, upstream

#1064 fast-forward DFG testing
  Project.toml
  README.md
  examples/TreeAnalysis.jl
  src/AnalysisTools.jl
  src/ApproxConv.jl
  src/CliqStateMachineUtils.jl
  src/CliqueStateMachine.jl
  src/CliqueTypes.jl
  src/CompareUtils.jl
  src/DeconvUtils.jl
  src/Deprecated.jl
  src/FactorGraph.jl
  src/FactorGraphTypes.jl
  src/Factors/EuclidDistance.jl
  src/Factors/LinearRelative.jl
  src/GraphProductOperations.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/NumericalCalculations.jl
  src/SolveTree.jl
  src/SolverAPI.jl
  src/TreeDebugTools.jl
  src/TreeMessageAccessors.jl
  src/Variables/DefaultVariables.jl
  test/priorusetest.jl
  test/runtests.jl
  test/testAnalysisTools.jl
  test/testBasicRecycling.jl
  test/testBayesTreeiSAM2Example.jl
  test/testCSMMonitor.jl
  test/testCliqueFactors.jl
  test/testEuclidDistance.jl
  test/testHasPriors913.jl
  test/testJointEnforcement.jl
  test/testJunctionTreeConstruction.jl
  test/testMultimodal1D.jl
  test/testSphere1.jl
  test/testTreeFunctions.jl
  test/testpartialconstraint.jl
Labels: fast-forward, testing, upstream

#1066 updates and maintenance to csm debugging tools
  .travis.yml
  src/FactorGraph.jl
  src/GraphProductOperations.jl
  src/JunctionTree.jl
  src/TreeDebugTools.jl
Labels: debug tools, maintenance

#1054 Updating LikelihoodMessage and _MsgJointRelPr
  Project.toml
  src/BeliefTypes.jl
  src/CliqueStateMachine.jl
  src/CliqueTypes.jl
  src/DefaultNodeTypes.jl
  src/Deprecated.jl
  src/FGOSUtils.jl
  src/FactorGraphTypes.jl
  src/Factors/DefaultPrior.jl
  src/Factors/EuclidDistance.jl
  src/Factors/LinearRelative.jl
  src/Factors/MsgLikelihoods.jl
  src/Factors/PartialPrior.jl
  src/GraphConstraintTypes.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/SolverAPI.jl
  src/TreeMessageUtils.jl
  src/Variables/DefaultVariables.jl
  test/priorusetest.jl
  test/runtests.jl
  test/testDERelative.jl
  test/testExpXstroke.jl
  test/testInitVariableOrder.jl
  test/testJointEnforcement.jl
Labels: bayes junction tree, bayes net, enhancement, inference, maintenance, refactoring, types

#1070 refactoring fmd part 1,
  src/ApproxConv.jl
  src/Deprecated.jl
  src/FGOSUtils.jl
  src/FactorGraph.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/SolverUtilities.jl
  src/TetherUtils.jl
  test/testCommonConvWrapper.jl
  test/testFactorMetadata.jl
  test/testNLsolve.jl
  test/testNumericRootGenericRandomized.jl
Labels: enhancement, inference, refactoring, sampling, standardization

#1071 some cleanup and moving code around
  src/ApproxConv.jl
  src/Deprecated.jl
  src/FactorGraphTypes.jl
  src/Factors/LinearRelative.jl
  src/JunctionTree.jl
  src/NumericalCalculations.jl
  src/SolverUtilities.jl
Labels: maintenance

#1073 remove partial Roots factor
  src/Deprecated.jl
  src/NumericalCalculations.jl
  test/testpartialconstraint.jl
Labels: deprecation, factors, inference, maintenance, obsolete, refactoring

#1074 simplify numericCCW Minimize
  src/NumericalCalculations.jl
  test/testExpXstroke.jl
Labels: inference, maintenance, refactoring

#1075 drop shuffleX, depr (::ccw)(x...)
  src/Deprecated.jl
  src/NumericalCalculations.jl
  test/testApproxConv.jl
Labels: deprecation, inference, obsolete, refactoring

#1076 drop ccw.cpt[].Y
  src/ApproxConv.jl
  src/Deprecated.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/NumericalCalculations.jl
  test/runtests.jl
  test/testNumericRootGenericRandomized.jl
Labels: deprecation, maintenance, missing deprecation, types

#1078 update AbstractRelative Factor and FactorMinimize
  examples/ApproximateConvolution.jl
  examples/SquareRootTypes.jl
  src/ApproxConv.jl
  src/Factors/Sphere1D.jl
  src/RequireInteractiveUtils.jl
  test/testDeadReckoningTether.jl
  test/testSpecialSampler.jl
  test/testmultihypothesisapi.jl
Labels: deprecation, dfg, factors, maintenance, standardization, types, upstream

#1077 rm fmd fields, fix fmd multihypo
  src/ApproxConv.jl
  src/Deprecated.jl
  src/DispatchPackedConversions.jl
  src/FactorGraphTypes.jl
  src/NumericalCalculations.jl
  src/SolverUtilities.jl
  test/testFactorMetadata.jl
  test/testMultihypoFMD.jl
Labels: breaking changes, bug fix, inference, standardization, types

#1079 add depr for fetchMsgUpThis
  src/Deprecated.jl
Labels: API, deprecation, maintenance, missing deprecation

#1080 fix draw/show tree during solve,
  src/JunctionTree.jl
  src/SolverAPI.jl
Labels: bug fix, maintenance, visualization

#1050 standardize eliminationOrder
  src/Deprecated.jl
  src/FactorGraph.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/SolverAPI.jl
  test/testBasicParametric.jl
  test/testJointEnforcement.jl
  test/testJunctionTreeConstruction.jl
  test/testSolveOrphanedFG.jl
Labels: WORK OUTSTANDING, maintenance, needs documentation, standardization, types

#1081 rn internal tags :__LIKELIHOOD...__
  attic/CSMCommon_Consolidate.jl
  attic/CSM_SiblDwnInit_fetch.jl
  src/CliqueStateMachine.jl
  src/TreeMessageUtils.jl
  test/testDefaultDeconv.jl
Labels: enhancement, graph management, standardization, user experience

#1082 depr _defaultFactorMetadata, resetBuildTree!
  examples/BayesTreeIllustration.jl
  examples/MultiHypo2Door.jl
  examples/MultiHypo3Door.jl
  examples/TexTreeIllustration.jl
  src/ApproxConv.jl
  src/DeconvUtils.jl
  src/Deprecated.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/SolverAPI.jl
  src/SolverUtilities.jl
  src/TetherUtils.jl
  test/testBasicCSM.jl
  test/testBasicRecycling.jl
  test/testBayesTreeChordalProp.jl
  test/testBayesTreeiSAM2Example.jl
  test/testCliqueFactors.jl
  test/testCommonConvWrapper.jl
  test/testCompareVariablesFactors.jl
  test/testExpXstroke.jl
  test/testJunctionTreeConstruction.jl
  test/testNLsolve.jl
  test/testNumericRootGenericRandomized.jl
  test/testSolveSetPPE.jl
  test/testTexTreeIllustration.jl
  test/testTreeSaveLoad.jl
  test/testlocalconstraintexamples.jl
Labels: deprecation, maintenance, standardization

#1088 fix multihypo tolerance, needs backport
  Project.toml
  src/FactorGraph.jl
  test/testmultihypothesisapi.jl
Labels: back port

#1087 fix multihypo tolerance, needs backport
  src/FactorGraph.jl
  test/testmultihypothesisapi.jl
Labels: bug fix, multihypothesis, testing, user experience

#1090 v0.19.1-rc1
  Project.toml
  README.md
  src/FactorGraph.jl
  test/testmultihypothesisapi.jl
Labels: release

#1089 refactor CalcFactor user function calls
  src/CalcFactor.jl
  src/DeconvUtils.jl
  src/Deprecated.jl
  src/FactorGraph.jl
  src/Factors/LinearRelative.jl
  src/Factors/Sphere1D.jl
  src/IncrementalInference.jl
  src/NumericalCalculations.jl
  test/testDERelative.jl
  test/testSphere1.jl
Labels: API, deprecation, enhancement, factors, inference, performance, refactoring, standardization, types
