Repository JuliaRobotics/IncrementalInference.jl, pull requests merged in 2020-10, with the labels that each got.

#932 Consolidate solveTree! and solveTreeParametric!
  src/BeliefTypes.jl
  src/CSMCommon_Consolidate.jl
  src/CanonicalGraphExamples.jl
  src/CliqStateMachine_Parametric.jl
  src/FactorGraph.jl
  src/SolveTree_Parametric.jl
  src/SolverAPI.jl
  test/testBasicParametric.jl
  test/testCSMMonitor.jl
Labels: API, debug tools, deprecation, maintenance, parametric solve, refactoring, standardization, user experience

#936 resolve CSM cycle problem, #754
  src/CliqStateMachine.jl
  src/SolveTree.jl
  src/TreeBasedInitialization.jl
  test/testBasicTreeInit.jl
Labels: bug fix, clique state machine, tree init

#937 organizing consolidating code, deprecations
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/InferDimensionUtils.jl
  src/JunctionTreeTypes.jl
  src/TreeMessageUtils.jl
  src/TreeMsgDwnConsolidation.jl
Labels: API, clique state machine, deprecation, maintenance, refactoring, standardization, types

#939 Rename CliqStateMachine.jl and CliqStateMachine_Parametric.jl
  src/CliqueStateMachine_fetch.jl
  src/CliqueStateMachine_take.jl
  src/IncrementalInference.jl
Labels: clique state machine, maintenance, refactoring

#941 intermediate code refactor updates, towards #910
  src/Deprecated.jl
  src/FGOSUtils.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
Labels: bayes junction tree, maintenance, refactoring, standardization

#942 Cherrypick cleanup and deprecation from #940
  src/CSMCommon_Consolidate.jl
  src/CanonicalGraphExamples.jl
  src/CliqueStateMachine_fetch.jl
  src/Deprecated.jl
  src/SolveTree.jl
  src/SolverUtilities.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMsgDwnConsolidation.jl
Labels: clique state machine, deprecation, maintenance

#943 WIP fixing #910
  src/BeliefTypes.jl
  src/CliqueStateMachine_fetch.jl
  src/Deprecated.jl
  src/InferDimensionUtils.jl
  src/TreeMessageUtils.jl
Labels: bayes junction tree, clique state machine, maintenance, refactoring

#944 fast-forward from master via twig
  src/BeliefTypes.jl
  src/CliqueStateMachine_fetch.jl
  src/Deprecated.jl
  src/FGOSUtils.jl
  src/InferDimensionUtils.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/TreeMessageUtils.jl
Labels: fast-forward

#945 _dbgCSMSaveSubFG helper function used to save debug subFGs
  src/CSMCommon_Consolidate.jl
  src/CliqStateMachineUtils.jl
  src/CliqueStateMachine_fetch.jl
  src/CliqueStateMachine_take.jl
  src/Deprecated.jl
Labels: clique state machine, debug tools, maintenance

#947 code refactoring prep for #910
  src/BeliefTypes.jl
  src/CSM_fetchvstake.jl
  src/CliqueStateMachine_fetch.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/InferDimensionUtils.jl
  src/TreeBasedInitialization.jl
  src/TreeDebugTools.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  src/TreeMsgDwnConsolidation.jl
Labels: API, clique state machine, deprecation, refactoring, standardization, types

#949 Bug fix: save :initialized and use graphinit kwarg on _lineStep
  src/CanonicalGraphExamples.jl
  src/SubGraphFunctions.jl
Labels: autoinit, bug fix, tree init

#952 Use empty FG in addLikelihoodsDifferential!
  src/TreeMessageUtils.jl
Labels: bug fix, deconvolution

#953 WIP to fix #910
  src/BeliefTypes.jl
  src/CSM_fetch_fix910.jl
  src/CSM_fetchvstake.jl
  src/CliqueStateMachine_fetch.jl
  src/IncrementalInference.jl
  src/InferDimensionUtils.jl
  src/TreeMessageUtils.jl
  src/TreeMsgDwnConsolidation.jl
  test/testBasicTreeInit.jl
  test/testSphere1.jl
Labels: clique state machine, hack, refactoring, testing, tree init, types

#955 utils into CSM states instead, sibling dwn init
  src/CSMCommon_Consolidate.jl
  src/CSM_SiblDwnInit_fetch.jl
  src/CSM_fetch_fix910.jl
  src/CSM_fetchvstake.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/TreeDebugTools.jl
  src/TreeMessageAccessors.jl
Labels: clique state machine, deprecation, refactoring

#956 standardize Mixture, fix #933
  examples/BayesTreeIllustration.jl
  examples/IllustrateAutoInit.jl
  src/ApproxConv.jl
  src/Deprecated.jl
  src/Factors/DefaultPrior.jl
  src/Factors/Mixture.jl
  src/Factors/MixturePrior.jl
  src/Factors/MixtureRelative.jl
  src/IncrementalInference.jl
  src/NumericalCalculations.jl
  test/testCommonConvWrapper.jl
  test/testExpXstroke.jl
  test/testMixtureLinearConditional.jl
  test/testNumericRootGenericRandomized.jl
Labels: enhancement, factors, mixture, needs documentation, refactoring, standardization, types

#958 Only downsolve when all children finished upsolve
  src/CliqueStateMachine_fetch.jl
Labels: bayes junction tree, bug fix, clique state machine, inference, tree init

#957 deprecate notifyCliqDownInitStatus! -> prepPutCliqueStatusMsgDwn!
  src/CSMCommon_Consolidate.jl
  src/CliqueStateMachine_fetch.jl
  src/Deprecated.jl
  src/SolverAPI.jl
  src/TreeMsgDwnConsolidation.jl
Labels: clique state machine, deprecation, maintenance, refactoring

#960 Convert PackedSamplableBelief
  src/BeliefTypes.jl
  src/Deprecated.jl
  src/Factors/Mixture.jl
  src/IncrementalInference.jl
  src/SerializingDistributions.jl
Labels: enhancement, factors, needed downstream, serialization, standardization

#961 add FluxModelsDistribution
  Project.toml
  src/BeliefTypes.jl
  src/Deprecated.jl
  src/FactorGraph.jl
  src/Factors/DefaultPrior.jl
  src/Factors/Mixture.jl
  src/Flux/FluxModelsDistribution.jl
  src/Flux/FluxModelsSerialization.jl
  src/Flux/entities.jl
  src/IncrementalInference.jl
  src/SerializingDistributions.jl
  test/runtests.jl
  test/testFluxModelsDistribution.jl
Labels: compat, enhancement, factors, flux, needs documentation, sampling, serialization, standardization, testing, types, upstream

#963 improve IIF testing
  test/testFluxModelsDistribution.jl
Labels: factors, flux, mixture, testing

#964 removing old deprecations
  src/Deprecated.jl
Labels: deprecation, maintenance

#967 Test basic marginalization and fix #966
  src/FGOSUtils.jl
  test/runtests.jl
  test/testBasicMargin.jl
Labels: bug fix, marginalization, test all the things, testing

#968 updated solveTree_X closer to normal solveTree API
  src/AdditionalUtils.jl
  src/CliqStateMachineUtils.jl
  src/experimental/CliqStateMachine_X-stroke.jl
  src/experimental/SolveTree_X.jl
Labels: bayes junction tree, clique state machine, experimental

#969 improve testing and docs
  src/FactorGraphTypes.jl
  test/testMixturePrior.jl
Labels: AliasingScalarSampler, maintenance, testing

#970 general upgrades and more testing
  Project.toml
  src/ApproxConv.jl
  src/Factors/Mixture.jl
  src/Factors/Sphere1D.jl
  src/Flux/FluxModelsDistribution.jl
  src/Flux/FluxModelsSerialization.jl
  src/SerializingDistributions.jl
  test/testFluxModelsDistribution.jl
  test/testgraphpackingconverters.jl
Labels: compat, dependencies, enhancement, factors, flux, maintenance, mixture, serialization, testing

#974 standardize serialization, final prep v0.16.1
  Project.toml
  src/FactorGraph.jl
  src/FactorGraphTypes.jl
  src/Flux/FluxModelsSerialization.jl
  src/IncrementalInference.jl
  test/testMixturePrior.jl
Labels: bson, compat, dependencies, flux, needed downstream, serialization, standardization

#975 v0.16.1-rc1
  Project.toml
  README.md
  src/AdditionalUtils.jl
  src/ApproxConv.jl
  src/CliqStateMachineUtils.jl
  src/FGOSUtils.jl
  src/FactorGraph.jl
  src/FactorGraphTypes.jl
  src/Factors/Mixture.jl
  src/Factors/Sphere1D.jl
  src/Flux/FluxModelsDistribution.jl
  src/Flux/FluxModelsSerialization.jl
  src/IncrementalInference.jl
  src/SerializingDistributions.jl
  src/experimental/CliqStateMachine_X-stroke.jl
  src/experimental/SolveTree_X.jl
  test/runtests.jl
  test/testBasicMargin.jl
  test/testFluxModelsDistribution.jl
  test/testMixturePrior.jl
  test/testgraphpackingconverters.jl
Labels: fast-forward, release

#979 getCliqVarInitOrderUp use subgraph
  src/CliqueStateMachine_fetch.jl
  src/Deprecated.jl
  src/TreeBasedInitialization.jl
  src/experimental/CliqStateMachine_X-stroke.jl
  test/runtests.jl
  test/testInitVariableOrder.jl
Labels: bug fix, tree init

#984 v0.16.2-rc1
  src/CliqueStateMachine_fetch.jl
  src/Deprecated.jl
  src/TreeBasedInitialization.jl
  src/experimental/CliqStateMachine_X-stroke.jl
  test/runtests.jl
  test/testInitVariableOrder.jl
Labels: fast-forward, release

#981 Cleanup messages for take!
  src/CSMCommon_Consolidate.jl
  src/CSM_fetchvstake.jl
  src/CliqStateMachineUtils.jl
  src/CliqueStateMachine_take.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/SolverAPI.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  src/TreeMsgDwnConsolidation.jl
  src/experimental/CliqStateMachine_X-stroke.jl
  test/priorusetest.jl
  test/testDefaultDeconv.jl
  test/testHasPriors913.jl
Labels: bayes junction tree, clique state machine, deprecation, maintenance, refactoring

#985 Change to take! CSM
  Project.toml
  src/CSMCommon_Consolidate.jl
  src/CSM_fetchvstake.jl
  src/CliqStateMachineUtils.jl
  src/CliqueStateMachine_fetch.jl
  src/CliqueStateMachine_take.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/SolveTree_Parametric.jl
  src/SolverAPI.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  src/TreeMsgDwnConsolidation.jl
  src/experimental/CliqStateMachine_X-stroke.jl
  src/experimental/SolveTree_X.jl
  test/priorusetest.jl
  test/testBasicTreeInit.jl
  test/testDefaultDeconv.jl
  test/testExpXstroke.jl
  test/testHasPriors913.jl
Labels: bayes junction tree, clique state machine, maintenance, refactoring

#987 Move fetch functions to attic and reorganize
  attic/CSMCommon_Consolidate.jl
  attic/CSM_SiblDwnInit_fetch.jl
  attic/CliqueStateMachine_fetch.jl
  attic/SolverAPI_fetch.jl
  attic/TreeMessageAccessors_fetch.jl
  src/CliqStateMachine_X-stroke.jl
  src/IncrementalInference.jl
  src/ParametricCSMFunctions.jl
  src/SolverAPI.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  src/experimental/SolveTree_X.jl
  test/testBasicTreeInit.jl
Labels: bayes junction tree, clique state machine, deprecation, refactoring

#988 Maintenance on take and Restore CliqueStatus enum
  attic/TreeBasedInit_fetch.jl
  examples/IllustrateAutoInit.jl
  examples/MultiHypo2Door.jl
  examples/MultiHypo3Door.jl
  examples/RobotFourDoor.jl
  examples/TexTreeIllustration.jl
  src/BeliefTypes.jl
  src/CliqStateMachineUtils.jl
  src/CliqueStateMachine.jl
  src/Deprecated.jl
  src/Factors/LinearRelative.jl
  src/IncrementalInference.jl
  src/JunctionTreeTypes.jl
  src/ParametricCSMFunctions.jl
  src/SolverAPI.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  test/TestCSMMultihypo.jl
  test/basicGraphsOperations.jl
  test/fourdoortest.jl
  test/runtests.jl
  test/testBasicCSM.jl
  test/testBasicForwardConvolve.jl
  test/testBasicGraphs.jl
  test/testBasicParametric.jl
  test/testBayesTreeiSAM2Example.jl
  test/testCliqueFactors.jl
  test/testCompareVariablesFactors.jl
  test/testDeadReckoningTether.jl
  test/testFactorMetadata.jl
  test/testHasPriors913.jl
  test/testInitVariableOrder.jl
  test/testMultiHypo2Door.jl
  test/testMultihypoAndChain.jl
  test/testMultimodal1D.jl
  test/testMultithreaded.jl
  test/testProductReproducable.jl
  test/testSaveLoadDFG.jl
  test/testSolveOrphanedFG.jl
  test/testTexTreeIllustration.jl
  test/testlocalconstraintexamples.jl
  test/testnullhypothesis.jl
Labels: bayes junction tree, clique state machine, maintenance, refactoring

#991 CSM updates
  attic/CSMCommon_Consolidate.jl
  src/CliqueStateMachine.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/ParametricCSMFunctions.jl
  src/SolverAPI.jl
  src/TreeDebugTools.jl
  test/runtests.jl
  test/testBasicTreeInit.jl
  test/testSkipUpDown.jl
Labels: bayes junction tree, bug fix, clique state machine, enhancement, maintenance

#994 fix #993
  src/GraphProductOperations.jl
Labels: bug fix, graph management, inference

#992 Split up CSM and clique up recycling
  src/CliqueStateMachine.jl
  src/IncrementalInference.jl
  test/runtests.jl
  test/testBasicMargin.jl
  test/testBasicRecycling.jl
  test/testBasicTreeInit.jl
Labels: bayes junction tree, clique state machine, enhancement, needs testing, recycle cliques, refactoring

#1000 Mixture isPrior
  Project.toml
  src/Factors/Mixture.jl
  test/testInitVariableOrder.jl
Labels: bug fix, mixture

#501 restore 458 461 test
  test/priorusetest.jl
  test/runtests.jl
Labels: testing

#1001 Use @defVariable for Sphere1D and ContinuousScalar
  src/Variables/DefaultVariables.jl
  src/Variables/Sphere1D.jl
Labels: refactoring, softtype, standardization, types

#1002 Basic skip upsolve state
  src/CliqueStateMachine.jl
  test/testSkipUpDown.jl
Labels: bayes junction tree, clique state machine, enhancement

#997 fix #996, FourDoorExample.jl
  examples/RobotFourDoor.jl
Labels: example, maintenance, needs testing

#1003 useMsgLikelihoods=true
  src/DeconvUtils.jl
  src/FactorGraphTypes.jl
  src/TreeMessageUtils.jl
  test/testBasicRecycling.jl
  test/testHasPriors913.jl
Labels: inference, standardization, testing

#1004 Split down CSM
  src/CliqStateMachineUtils.jl
  src/CliqueStateMachine.jl
  test/testBasicTreeInit.jl
Labels: clique state machine, maintenance, refactoring

#1005 drop deprecations at end v0.16.x
  src/Deprecated.jl
  src/Factors/LinearRelative.jl
  test/fourdoortest.jl
  test/testExpXstroke.jl
  test/testSkipUpDown.jl
Labels: API, breaking changes, deprecation, maintenance

#1006 Updates and cleanup of CSM
  .gitignore
  src/CliqStateMachineUtils.jl
  src/CliqueStateMachine.jl
  src/CliqueTypes.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/InferDimensionUtils.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/SolverAPI.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  test/testBasicRecycling.jl
  test/testBasicTreeInit.jl
  test/testExpXstroke.jl
  test/testSkipUpDown.jl
  test/testSolveSetPPE.jl
  test/testSphere1.jl
Labels: clique state machine, maintenance

#1011 fix solveFactorMeasurements
  src/DeconvUtils.jl
Labels: bug fix

#1008 hists as NamedTuple CSMHistoryTuple
  src/CliqueStateMachine.jl
  src/JunctionTreeTypes.jl
  src/SolverAPI.jl
  src/TreeDebugTools.jl
  test/unittests/FactorGraph01_tests.jl
Labels: clique state machine, debug tools, enhancement
