Repository JuliaRobotics/IncrementalInference.jl, pull requests merged in 2020-07, with the labels that each got.

#756 drop MsgUpInit Dict
  src/CliqStateMachine.jl
  src/InferDimensionUtils.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  test/testBasicTreeInit.jl
  test/testTreeInitSequences.jl
Labels: bayes junction tree, clique state machine, enhancement, refactoring, tree init

#761 switch upInitMsg to pull model
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/CliqueTypes.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/InferDimensionUtils.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/SolveTree.jl
  src/SolverAPI.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  test/testBasicGraphs.jl
  test/testBasicTreeInit.jl
Labels: autoinit, clique state machine, inference, refactoring

#762 Setting variable timestamps to UTC
  src/FactorGraph.jl
Labels: bug

#764 Adding solveGraph!
  src/IncrementalInference.jl
  src/SolverAPI.jl
Labels: API, enhancement

#765 Swap to dropdict on upinitmsgs
  src/JunctionTreeTypes.jl
  src/TreeMessageAccessors.jl
Labels: clique state machine, enhancement, inference, tree init

#766 Drop upinitmsgs dict for direct LikelihoodMessage
  src/CliqStateMachine.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/JunctionTreeTypes.jl
  src/SolveTree.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
Labels: clique state machine, enhancement, inference, refactoring, tree init

#767 preliminary cleanup for dropping upinitmsg
  src/CliqStateMachine.jl
  src/Deprecated.jl
  src/InferDimensionUtils.jl
  src/JunctionTreeTypes.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
Labels: clique state machine, maintenance

#768 more cleanup prep before upinitmsg
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/CliqStateMachine_Parametric.jl
  src/Deprecated.jl
  src/FactorGraph.jl
  src/SolveTree.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
Labels: clique state machine, deprecated, maintenance

#769 fast forward testing
  .travis.yml
  Project.toml
  README.md
  src/ApproxConv.jl
  src/BeliefTypes.jl
  src/CanonicalGraphExamples.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/CliqStateMachine_Parametric.jl
  src/CliqueTypes.jl
  src/Deprecated.jl
  src/DispatchPackedConversions.jl
  src/FGOSUtils.jl
  src/FactorGraph.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/ParametricMessageUtils.jl
  src/ParametricUtils.jl
  src/SolveTree.jl
  src/SolveTree_Parametric.jl
  src/SolverAPI.jl
  src/SolverUtilities.jl
  src/SubGraphFunctions.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  test/runtests.jl
  test/testBasicGraphs.jl
  test/testBasicParametric.jl
  test/testBasicTreeInit.jl
  test/testCompareVariablesFactors.jl
  test/testSaveLoadDFG.jl
  test/testVariousNSolveSize.jl
  test/testgraphpackingconverters.jl
  test/unittests/FactorGraph01_tests.jl
Labels: dfg, fast-forward, testing, upstream

#770 introduce CSM 8g.
  Project.toml
  src/CliqStateMachine.jl
  src/TreeMessageUtils.jl
Labels: clique state machine, compat, refactoring, toml, tree init, upstream

#771 prep CSM 8g. drop doCliqAutoInitUpPart2!
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
  src/SolveTree.jl
  src/SolveTree_Parametric.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
Labels: clique state machine, deprecated, maintenance, refactoring

#772 Deprecate UpReturnBPType
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/Deprecated.jl
  src/SolveTree.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
Labels: clique state machine, deprecated, refactoring, types

#773 WIP consolidating upPrepOutMsg
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/Deprecated.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
Labels: clique state machine, deprecated, maintenance, refactoring, types

#774 fast forward DFG integration testing
  Project.toml
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/Deprecated.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
  src/SolveTree.jl
  src/SolveTree_Parametric.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
Labels: dfg, fast-forward, testing, upstream

#775 fix csm 1. dfg, cleanup
  src/CliqStateMachine.jl
  src/TreeMessageAccessors.jl
Labels: bug fix, clique state machine, maintenance

#776 v0.12.2-rc1
  .travis.yml
  Project.toml
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/CliqStateMachine_Parametric.jl
  src/CliqueTypes.jl
  src/Deprecated.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
  src/JunctionTree.jl
  src/JunctionTreeTypes.jl
  src/SolveTree.jl
  src/SolveTree_Parametric.jl
  src/SolverAPI.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  test/testBasicGraphs.jl
  test/testBasicTreeInit.jl
Labels: release

#778 prep CSM before droping upInitMsg
  src/CliqStateMachine.jl
  src/CliqStateMachine_Parametric.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
  src/SolveTree.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
Labels: clique state machine, maintenance, refactoring

#780 deprecate MsgUpInitChannel_
  src/CliqStateMachine.jl
  src/Deprecated.jl
  src/JunctionTreeTypes.jl
  src/SolveTree.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
Labels: clique state machine, deprecated, maintenance, refactoring, types

#781 Up msg consolidation #459 done
  src/Deprecated.jl
  src/JunctionTreeTypes.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
Labels: clique state machine, inference, maintenance, refactoring, types

#635 Common deconvolution tools
  src/BeliefTypes.jl
  src/DeconvUtils.jl
  src/DispatchPackedConversions.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
  src/SolverUtilities.jl
  src/TreeMessageUtils.jl
  test/runtests.jl
  test/testDefaultDeconv.jl
Labels: debug tools, enhancement, inference, testing

#787 add diagm and bump v0.13.1
  Project.toml
  src/IncrementalInference.jl
Labels: maintenance, upstream, user experience, versioning

#788 cleanup
  src/DeconvUtils.jl
  src/DefaultNodeTypes.jl
  src/Deprecated.jl
Labels: deprecated, standardization

#789 v0.13.1-rc1
  Project.toml
  README.md
  src/DeconvUtils.jl
  src/DefaultNodeTypes.jl
  src/Deprecated.jl
  src/IncrementalInference.jl
Labels: release

#792 fast-forward integration testing
  Project.toml
  README.md
  src/BeliefTypes.jl
  src/CliqStateMachine.jl
  src/CliqStateMachine_Parametric.jl
  src/DeconvUtils.jl
  src/DefaultNodeTypes.jl
  src/Deprecated.jl
  src/DispatchPackedConversions.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
  src/JunctionTreeTypes.jl
  src/SolveTree.jl
  src/SolverUtilities.jl
  src/TreeBasedInitialization.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  test/runtests.jl
  test/testDefaultDeconv.jl
  test/testMixturePrior.jl
  test/unittests/FactorGraph01_tests.jl
Labels: dfg, fast-forward, testing, upstream

#795 quick fix to drop GraphsDFG
  src/Deprecated.jl
Labels: deprecated, maintenance, testing, types

#796 fast-forward
  src/Deprecated.jl
Labels: dfg, fast-forward, testing, upstream

#797 fast-forward to allow dfg testing
  Project.toml
  examples/ApproximateConvolution.jl
  examples/IllustrateAutoInit.jl
  examples/SquareRootTypes.jl
  src/ApproxConv.jl
  src/CanonicalGraphExamples.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/CliqStateMachine_Parametric.jl
  src/DeconvUtils.jl
  src/DefaultNodeTypes.jl
  src/FGOSUtils.jl
  src/FactorGraphTypes.jl
  src/Factors/Sphere1D.jl
  src/GraphConstraintTypes.jl
  src/IncrementalInference.jl
  src/SolverUtilities.jl
  test/testCommonConvWrapper.jl
  test/testNLsolve.jl
  test/testNumericRootGenericRandomized.jl
  test/testSaveLoadDFG.jl
  test/testSpecialSampler.jl
  test/testmultihypothesisapi.jl
  test/testnullhypothesis.jl
  test/testpartialconstraint.jl
Labels: back port, breaking changes, dfg, fast-forward, testing, upstream

#794 Renaming factor base types
  Project.toml
  examples/ApproximateConvolution.jl
  examples/IllustrateAutoInit.jl
  examples/SquareRootTypes.jl
  src/ApproxConv.jl
  src/CanonicalGraphExamples.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/CliqStateMachine_Parametric.jl
  src/DeconvUtils.jl
  src/DefaultNodeTypes.jl
  src/FGOSUtils.jl
  src/FactorGraphTypes.jl
  src/Factors/Sphere1D.jl
  src/GraphConstraintTypes.jl
  src/IncrementalInference.jl
  src/SolverUtilities.jl
  test/testCommonConvWrapper.jl
  test/testNLsolve.jl
  test/testNumericRootGenericRandomized.jl
  test/testSaveLoadDFG.jl
  test/testSpecialSampler.jl
  test/testmultihypothesisapi.jl
  test/testnullhypothesis.jl
  test/testpartialconstraint.jl
Labels: deprecated, maintenance, standardization, types, upstream

#798 UTC DateTime to ZonedDateTime localzone()
  Project.toml
  src/DefaultNodeTypes.jl
  src/FactorGraph.jl
  src/IncrementalInference.jl
Labels: enhancement

#791 standardize nullhypo
  src/ApproxConv.jl
  src/BeliefTypes.jl
  src/Deprecated.jl
  src/DispatchPackedConversions.jl
  src/ExplicitDiscreteMarginalizations.jl
  src/FactorGraph.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  test/testExplicitMultihypo.jl
  test/testnullhypothesis.jl
  test/testpartialconstraint.jl
Labels: enhancement, null hypothesis, refactoring, standardization

#803 remove some csm warns
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/FactorGraph.jl
  src/TreeMessageAccessors.jl
  test/testnullhypothesis.jl
Labels: deprecation, maintenance, testing

#804 rm subfg verbose warn
  src/SubGraphFunctions.jl
  src/TreeMessageUtils.jl
Labels: enhancement, maintenance

#805 rm addFactor! deprecations
  src/FactorGraph.jl
Labels: deprecation, maintenance

#807 fix addVar autoinit
  Project.toml
  src/CanonicalGraphExamples.jl
  src/CliqStateMachine_Parametric.jl
  src/FactorGraph.jl
  test/testBasicParametric.jl
Labels: autoinit, bug fix, deprecation, maintenance

#809 fast forward testing
  Project.toml
  src/ApproxConv.jl
  src/BeliefTypes.jl
  src/CanonicalGraphExamples.jl
  src/CliqStateMachine.jl
  src/CliqStateMachineUtils.jl
  src/CliqStateMachine_Parametric.jl
  src/DefaultNodeTypes.jl
  src/Deprecated.jl
  src/DispatchPackedConversions.jl
  src/ExplicitDiscreteMarginalizations.jl
  src/FactorGraph.jl
  src/FactorGraphTypes.jl
  src/IncrementalInference.jl
  src/SubGraphFunctions.jl
  src/TreeMessageAccessors.jl
  src/TreeMessageUtils.jl
  test/testBasicParametric.jl
  test/testExplicitMultihypo.jl
  test/testnullhypothesis.jl
  test/testpartialconstraint.jl
Labels: dfg, fast-forward, testing, upstream

#808 v0.14.1-rc1
  Project.toml
  src/CanonicalGraphExamples.jl
  src/CliqStateMachine_Parametric.jl
  src/FactorGraph.jl
  test/testBasicParametric.jl
Labels: release
