Repository JuliaRobotics/IncrementalInference.jl, pull requests merged in 2022-06, with the labels that each got.

#1529 Split tests into two groups
  .github/workflows/ci.yml
  test/runtests.jl
Labels: testing, CI

#1533 Don't use MixedCircular by default
  src/ParametricUtils.jl
Labels: parametric solve, manifolds

#1532 minor improvement, local updates
  .github/workflows/CompatHelper.yml
  test/testSphereMani.jl
Labels: enhancement

#1535 more standard initVariable!
  NEWS.md
  Project.toml
  src/Deprecated.jl
  src/ExportAPI.jl
  src/services/GraphInit.jl
  test/testSpecialEuclidean2Mani.jl
Labels: deprecation, testing, API, standardization, manifolds, manual init

#1538 Manual Init from a distribution
  src/services/GraphInit.jl
  test/runtests.jl
  test/testManualInit.jl
Labels: enhancement, manual init

#1541 Parametric Updates
  src/Factors/Circular.jl
  src/ParametricUtils.jl
  src/services/GraphInit.jl
  test/testBasicParametric.jl
Labels: testing, bug fix, parametric solve, test all the things

#1543 Fix tests on parametric tree solve
  src/ParametricCSMFunctions.jl
  src/SolverAPI.jl
  src/TreeMessageUtils.jl
  test/testBasicParametric.jl
Labels: testing, bayes junction tree, bug fix, parametric solve

#1548 Fix #1547 parametric init
  src/services/GraphInit.jl
Labels: needs testing, bug fix, parametric solve
