Repository JuliaRobotics/IncrementalInference.jl, pull requests merged in 2023-08, with the labels that each got.

#1764 Convert for NoSolverParams
  src/entities/SolverParams.jl
Labels: enhancement, solver params

#1766 general cleanup
  src/services/FGOSUtils.jl
Labels: enhancement, maintenance

#1767 AMD Ext, JL 1.10, depr Ccolamd, wip tests
  Project.toml
  attic/src/ccolamd.jl
  ext/IncrInfrApproxMinDegreeExt.jl
  ext/WeakDepsPrototypes.jl
  src/IncrementalInference.jl
  src/services/BayesNet.jl
  test/manifolds/manifolddiff.jl
  test/testCcolamdOrdering.jl
Labels: standardization, upstream, bayes junction tree, variable ordering, julia version, extension

#1762 fast-forward dfg integration testing
  Project.toml
  attic/src/ccolamd.jl
  ext/IncrInfrApproxMinDegreeExt.jl
  ext/WeakDepsPrototypes.jl
  src/IncrementalInference.jl
  src/entities/SolverParams.jl
  src/services/BayesNet.jl
  src/services/FGOSUtils.jl
  src/services/TreeBasedInitialization.jl
  test/manifolds/manifolddiff.jl
  test/testCcolamdOrdering.jl
  test/testHeatmapGridDensity.jl
  test/testSpecialEuclidean2Mani.jl
Labels: testing, upstream, dfg
